<div id="notfound">
  <div class="notfound">
    <div class="notfound-bg">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <h1>Verdwaald?</h1>
    <h2>Deze pagina bestaat niet (error 404)</h2>
    <a href="/">Startpagina</a>
    <div class="notfound-social">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-pinterest"></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>
      <a href="#"><i class="fa fa-envelope"></i></a>
    </div>
  </div>
</div>
