<div class="container">
  <h1>Nieuwe video</h1>
  <div class="container-fluid">
    <div class="formBox">
      <form [formGroup]="videoForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-sm-6">
            <div class="inputBox ">
              <div class="inputText">YouTube ID</div>
              <input (focus)="onFocus($event)" (blur)="onVerifyYouTube()" type="text" formControlName="youtube_id" name="id" class="input">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="inputBox">
              <div class="inputText">Titel</div>
              <input (focus)="onFocus($event)" type="text" formControlName="video_title" name="title" class="input">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="inputBox ">
              <div class="inputText">Omschrijving</div>
              <input (focus)="onFocus($event)" type="text" formControlName="video_description" name="description"
                class="input">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="inputBox">
              <div class="inputText">Thumbnail</div>
              <input (focus)="onFocus($event)" (blur)="onVerifyImage()" type="text" formControlName="video_thumbnail" name="thumbnail"
                class="input">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="inputBox ">
              <div class="inputText">Genre</div>
              <input (focus)="onFocus($event)" type="text" formControlName="video_genre" name="genre" class="input">
            </div>
          </div>

          <div class="col-sm-6">
            <div class="inputBox">
              <div class="inputText">Tijdsduur</div>
              <input (focus)="onFocus($event)" type="text" formControlName="video_duration" name="duration"
                class="input">
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Verstuur</button>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div>
    <div class="trailer">
      <div #iframe class="trailer-video">
      </div>

      <div #thumbnail class="trailer-image">
      </div>
    </div>
  </div>
</div>
