.trailer {
    overflow: auto;
    background-color: #333;
    position: relative;
    margin-bottom: 40px;

    .trailer-video {
        width: 50%;
        float: left;
    }

    .trailer-info {
        width: 50%;
        float: right;
        // height: 100%;        
        color: #fff;
        padding: 10px;

        .video-title {
            font-weight: 700;
            font-size: 20px;
            text-transform: uppercase;
        }

        .video-description {
            margin-top: 15px;
        }
    }
}

[class*='close-'] {
    color: #fff;
    font: 30px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 5px;
  }
  
  .close-thik:after {
    content: '✖'; /* UTF-8 symbol */
  }