

.navbar-inverse {
    background-color: #333;
    border: none;

    .navbar-brand {
        color: #f39200;
    }
}

.navbar {
    border-radius: 0;
    margin-bottom: 0 !important;
}

.navbar-brand {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: Bold-font,Arial !important;
    text-transform: uppercase;
    line-height: 30px;
}

.navbar-inverse .navbar-nav 
{
    li {
        a {
            color: #fff;
            padding: 1.5em;
            text-transform: uppercase;
            font-family: Bold-font,Arial !important;     
            cursor: pointer;       
        }
    }
    .hover > a {
        color: #f39200;
    }
    .active {
        a {
            background: #f39200;
        }
    }
}
