$tangerine: #f39200;
$jet: #333;
$platinum: #e9e9e9;

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
    background-color: $platinum;
}

a {
    text-decoration: none;
}

h1 {
    color: $tangerine !important;
    font-size: 25px !important;
    font-weight: 700 !important;
    font-family: Bold-font,Arial !important;
    text-transform: uppercase;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    // grid-template-columns: 15% auto;

    a {
        color: white;
        margin: auto 0;
    }
}

section {
    // width: 80%;
    // margin: 0 auto;
    // padding: 2em;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

div.secondary {
    float: right;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -112px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 112px; /* .push must be the same height as .footer */
}